<template name="tesoro">
  
  <div class="panel panel-default panel-tesoros-principal">
    <div class="panel-heading panel-tesoros-head">{{nombre}}</div>
    <div class="panel-body">
      <p class="pull-left">{{descripcion}}</p>
      <div class="pull-right action-buttons">
        <button type="button" class="btn boton-tesoros" data-toggle="modal" data-target=".bs-modal-sm-{{_id}}">Elegir</button>
      </div>
    </div>
  </div>

    <div class="modal modal-comun bs-modal-sm-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">{{nombre}}</h4>
          </div>
          <div class="modal-body">
            <p>{{descripcion}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Atras</button>
            <button type="button" class="btn btn-primary iniciar-busqueda" data-dismiss="modal">Buscar tesoro</button>
          </div>
        </div>
      </div>
    </div>

</template>

<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-sm-{{_id}}">{{nombre}}</button>
-->