/* CSS declarations go here */
#map {
    height: 400px;
    width: 100%;
}

.distancia{
    height: 20px;
    width: 140px;
    position: absolute;
    z-index: 1000;
    top: 60px;
}

.gmnoprint{
    display: none;
}

.btn-oscuro {
    background: rgba(0, 0, 0, 0.58);
    color: white;
    letter-spacing: 3px
}
.cancelar-derecha {
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    padding-right: 0;
}
.cancelar-derecha a {
    vertical-align: top;
    background: rgba(0, 0, 0, 0.35);
}
.contenedor-formulario {
    margin-top: 35px;
}

.cabecera-formulario {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(0, 0, 0, 0.35);
    text-align: left;
}

.cabecera-formulario-izq {
    padding-top: 25px;
}
.formulario-principal {
    padding: 25px 25px 20px 25px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.formulario-celdas input, .formulario-celdas textarea
{
    width: 100%;
    padding: 5px;
    background: 0;
    border: 0;
    border-bottom: 1.7px solid #2b1203;
    outline: 0;
    font-style: italic;
    letter-spacing: 1px;
    color: #ffffff;
}
.formulario-celdas textarea {
    background: rgba(0, 0, 0, 0.2);
}
textarea::-webkit-input-placeholder {
color: #333 !important;
}
input::-webkit-input-placeholder {
color: #333 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #333 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #333 !important;  
}
 
input:-ms-input-placeholder {  
color: #333 !important;
}

.map-container {
  width: 800px;
  max-width: 100%;
  height: 500px;
}

.formulario-pie {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    color: black;
}

.formulario-pie a, .formulario-pie a:link,
.formulario-pie a:hover, .formulario-pie a:visited {
    color: #ffffff;
}

.fondo-tesoros {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.35);
}

.panel-tesoros-principal {
    background: rgba(76, 33, 16, 0.65);
    border-color: rgb(130, 97, 83);
    color: white;
}

.panel-tesoros-principal > .panel-tesoros-head {
    color: rgb(182, 150, 109);
    background: rgb(66, 39, 28);
    border-color: transparent;
}

.panel-tesoros-borde {
    border-color: rgb(130, 97, 83);
}

.boton-tesoros {
    color: #a1825e;
    background-color: #381c10;
    border-color: transparent;
}

.modal-comun div {
    background-color: #f2c18e;
}
.modal-comun .modal-header {
    /*color: #a4ffeb;
       border-color: #37bee0; */
    color: #6B151D;
    background-color: #DB8F5A;
    border-color: #A8553A;
    border-bottom-width: 2px;
}
.modal-comun .close{
    color: white;
    opacity: 1;
}
.modal-comun .panel {
    border: unset;
    color: #2E1615;
}
.modal-comun .modal-body  input[type="submit"]{
    background: #6B151D;
}
.modal-comun .modal-content {
    border: 2px solid black;
}
.modal-comun .modal-footer {
    border-top: unset;
}
.modal-comun .modal-footer button {
    background: #db8f5a;
}

.usuario{
    color: #a1825e;
    border-color: transparent;
}
.usuario > button{
    background: #381c10;
}
.usuario > ul{
    border: transparent;
}

.usuario > ul>li> .btn{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    background-color: white;
    width: 100%;
    text-align: left;
}
    