/* CSS declarations go here */
#map {
    height: 400px;
    width: 100%;
}
.gmnoprint{
    display: none;
}

.btn-oscuro {
    background: rgba(0, 0, 0, 0.58);
    color: white;
    letter-spacing: 3px
}
.cancelar-derecha {
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    padding-right: 0;
}
.cancelar-derecha a {
    vertical-align: top;
    background: rgba(0, 0, 0, 0.35);
}
.contenedor-formulario {
    margin-top: 35px;
}

.cabecera-formulario {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(0, 0, 0, 0.35);
    text-align: left;
}

.cabecera-formulario-izq {
    padding-top: 25px;
}
.formulario-principal {
    padding: 25px 25px 20px 25px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.formulario-celdas input, .formulario-celdas textarea
{
    width: 100%;
    padding: 5px;
    background: 0;
    border: 0;
    border-bottom: 1.7px solid #2b1203;
    outline: 0;
    font-style: italic;
    letter-spacing: 1px;
    color: #ffffff;
}
.formulario-celdas textarea {
    background: rgba(0, 0, 0, 0.2);
}
textarea::-webkit-input-placeholder {
color: #333 !important;
}
input::-webkit-input-placeholder {
color: #333 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #333 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #333 !important;  
}
 
input:-ms-input-placeholder {  
color: #333 !important;
}

.map-container {
  width: 800px;
  max-width: 100%;
  height: 500px;
}

.formulario-pie {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    color: black;
}

.formulario-pie a, .formulario-pie a:link,
.formulario-pie a:hover, .formulario-pie a:visited {
    color: #ffffff;
}

.fondo-tesoros {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.35);
}

.panel-tesoros-principal {
    background: rgba(76, 33, 16, 0.65);
    border-color: rgb(130, 97, 83);
    color: white;
}

.panel-tesoros-principal > .panel-tesoros-head {
    color: rgb(182, 150, 109);
    background: rgb(66, 39, 28);
    border-color: transparent;
}

.panel-tesoros-borde {
    border-color: rgb(130, 97, 83);
}

.boton-tesoros {
    color: #a1825e;
    background-color: #381c10;
    border-color: transparent;
}