<template name="agregarTesoro">
    {{#if currentUser.emails.[0].verified}}
	<div class="row">
        <div class="cabecera-formulario">
            <div class="cabecera-formulario-izq col-xs-8">
                <h1>Agregar tesoro</h1>
            </div>
            <div class="cancelar-derecha col-xs-4">
                <a class="btn btn-oscuro btn-sm" href="/">X</a>
            </div>
        </div>
        <div class="formulario-principal">
            <form class="nuevo-tesoro">
                <div class="formulario-celdas">
                    <div class="form-group col-xs-12">
                        <label for="nombre">Nombre del tesoro</label>
                        <input placeholder="Nombre del tesoro" type="text" name="nombre" id="nombre">
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="descripcion">Descripcion del tesoro</label>
                        <textarea name="descripcion" id="descripcion" placeholder="Descripcion"></textarea>
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="clave">Clave del tesoro</label>
                        <input type="text" name="clave" id="clave" placeholder="Clave">
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="latitud">Latitud del tesoro</label>
                        <input type="text"  name="latitud" id="latitud" placeholder="Latitud">
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="longitud">Longitud del tesoro</label>
                        <input type="text" name="longitud" id="longitud" placeholder="Longitud">
                    </div>
                </div>
                <button type="submit" class="btn btn-oscuro btn-sm btn-block">Guardar</button>
                <button type="reset" class="btn btn-oscuro btn-sm btn-block">Borrar</button>
            </form>
        </div>
    </div>
     {{else}}
    <div class="pull-right">
        <div class="dropdown usuario">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <li><button class="btn btn-logout">Salir</button></li>
            </ul>
        </div>
    </div>
      <h2>Debes verificar el email antes de usar la aplicación. <a href="#" class="segunda-verificacion-email">Volver a recibir email</a></h2>
    {{/if}}
</template>