<template name="modificarUsuario">
{{> bertAlert}}
    <div class="row">
        <div class="col-xs-12 contenedor-formulario">
            
            <div class="cabecera-formulario">
                <div class="cabecera-formulario-izq col-xs-8">
                    <h1>Modificar datos de usuario</h1>
                </div>
                <div class="cancelar-derecha col-xs-4">
                    <a class="btn btn-oscuro btn-sm" href="/">X</a>
                </div>
            </div>

            <div class="formulario-principal">
                <form class="FormularioModificarUsuario">
                    <div class="formulario-celdas">
                        <div class="form-group col-xs-12">
                            <input placeholder="Email" type="email" id="email" value="">
                        </div>
                        <div class="form-group col-xs-12">
                            <input placeholder="Nombre de usuario" type="text" id="nombreUsuario" value="">
                        </div>
                        <div class="form-group col-xs-12">
                            <input placeholder="Contraseña" type="password" id="contrasena" value="">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-oscuro btn-sm btn-block">Modificar</button>
                    <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target=".bs-modal-sm-{{_id}}">Eliminar Cuenta</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal bs-modal-sm-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">{{currentUser.profile.nombreUsuario}}, ¿Seguro que desea eliminar su cuenta?</h4>
          </div>
          <div class="modal-body">
            <p>Recuerda que no hay vuelta atrás, una vez borres tu cuenta de usuario los piratas se harán con la cuenta y jamás podrás recuperarla, JA JA JA! Piénsatelo bien antes de tirar por la borda todos tus logros, camarada.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Me he arrepentido</button>
            <button type="button" class="btn btn-danger eliminar-cuenta" data-dismiss="modal">Si, deseo eliminar mi cuenta</button>
          </div>
        </div>
      </div>
    </div>

</template>

    <!--
        <div class="col-md-6 col-md-offset-3">
            <form class="FormularioModificarUsuario">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Modificación datos de usuario</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-lg-12">
                            <label>Email</label>
                            <input type="email"  class="form-control" id="email" value="">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Nombre de usuario</label>
                            <input type="text" name="" class="form-control" id="nombreUsuario" value="">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Contraseña</label>
                            <input type="password" name="" class="form-control" id="contrasena" value="">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                        <a href="/" class="btn btn-danger">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    -->