<template name="modificarUsuario">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="FormularioModificarUsuario">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Modificación datos de usuario</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-lg-12">
                            <label>Email</label>
                            <input type="email"  class="form-control" id="email" value="">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Nombre de usuario</label>
                            <input type="text" name="" class="form-control" id="nombreUsuario" value="">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Contraseña</label>
                            <input type="password" name="" class="form-control" id="contrasena" value="">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                        <a href="/" class="btn btn-danger">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>